<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wesleyrnash.nfcrwadminmode" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wesleyrnash.nfcrwadminmode.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wesleyrnash.nfcrwadminmode.TriageActivity"
            android:label="@string/title_activity_triage"
            android:parentActivityName="com.wesleyrnash.nfcrwadminmode.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wesleyrnash.nfcrwadminmode.MainActivity" />
        </activity>
        <activity
            android:name="com.wesleyrnash.nfcrwadminmode.AdminActivity"
            android:label="@string/title_activity_admin"
            android:parentActivityName="com.wesleyrnash.nfcrwadminmode.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wesleyrnash.nfcrwadminmode.MainActivity" />
        </activity>
    </application>

</manifest>
